h1 {
    font-family: Arial;
    color: #e50e40;
    font-size: 2em;
    font-weight: lighter;
}

h2 {
    font-family: Arial;
    color: #212529;
    font-size: 1.5em;
    font-weight: lighter;
}

h3 {
    font-family: Arial;
    color: #212529;
    font-size: 1.25em;
    font-weight: lighter;
}

p {
    font-family: Arial;
    font-size: 1em;
    font-weight: normal;
    color: #212529;
}

.custom-box {
     background: white;
}
